@CHARSET "UTF-8";
/* 공용폰트 */
#font{
	color:#153d73;
	font-weight: bold;
	font-size: 20pt;
}
/* 페이징 */
.paging {
	display: inline-block;
	width: 524px;
	height: 50px;
	vertical-align: top;
	text-align: center;
	margin: 0px;
	font-size: 0px;
}
.pagingArea {
	display: inline-block;
	width: 350px;
	height: 30px;
	font-size: 11pt;
	color: #000000;
}

.pagingArea .first {
	border: 0;
}
.pagingArea span {
	padding: 0 9px 0 9px;
	border-left: 1px solid #d9d9d9;
	color: #535353;
	font-family: '나눔고딕', 'NanumGothic', 'Nanum Gothic', '맑은 고딕', 'Malgun Gothic', 'ng';
}

strong {
	color: #b01c1c;
} 
body {
	margin: 0px;
}
div {
	margin: 0px;
}
#showLink, ul:HOVER {
	cursor: pointer;
}

.bg {
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 0px;
	margin: 0px;
	vertical-align: top;
		text-align: center;
}
.range {
	display: inline-block;
	width: 1280px;
	height: 100%;
	background-color: #ff0000;
}
.b {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: center;
}

.c {
	display: inline-block;
}

.e {
	display: table-cell;;
	vertical-align: middle; /* table cell(td)에서 밖에 사용 못함 */
}

.d {
	display: table-row;
	height: 48px;
}
.bbsControll_d {
	display: table-row;
	height: 50px;
}
.memPicture_d, .memInfo_d {
	display: table-row;
	height: 470px;
}
.mainTd, #noticeMar {
 	white-space: nowrap; /* pre, pre-wrap 자동 줄 바꿈 */
 	text-overflow: ellipsis; /* 넘어가는 글 ... 처리 */
  	overflow: hidden;/*여기까지 */
  	max-width: 300px;
  	text-align: left;
}
/* 주 메뉴 */
.depth1_Body {
	display: inline-block;
	width: 1280px;
	height: 50px;
	background: rgb(109,109,109);
	font-size: 20px;
	text-align: center;
}
/* 내용부분 */
.contents {
	display: inline-block;
	width: 1280px;
	min-height: 820px;
	background-color: #ffffff; 
	font-size: 20px;
	text-align: center;
	
}
/* 상단 탑 */
.top {
	display: inline-block;
	width: 1280px;
	height: 96px;
	background-color: #000000; 
}
.logo {
	display: inline-block;
	width: 192px;
	height: 96px;
	background-color: #ffffff;
	font-size: 20px;
	text-align: center;
	background-image: url("../../images/ERP/logo.png");
}
.logo:hover {
	cursor: pointer;
}
/* 유저 로그인정보 */
.loginInfo {
	display: inline-block;
	width: 1088px;
	height: 96px;
	background-color: #000000; 
	vertical-align: top;
}

.login {
	display: inline-block;
	width: 1088px;
	height: 48px;
	background-color: rgb(109,109,109);
	
}
.blank {
	display: inline-block;
	width: 890px;
	height: 48px;
	background-color: rgb(71,71,71);
}
.user {
	display: inline-block;
	width: 198px;
	height: 48px;
	background-color: rgb(71,71,71);
	font-size: 20px;
	text-align: right;
		vertical-align: top;
}

/* 공지사항 */
.noticeInfo {
	display: inline-block;
	width: 1088px;
	height: 48px;
	background-color: #ffffff;
	text-align: center;

}
.notice {
	display: inline-block;
	width: 890px;
	height: 48px;
	background-color: #ffffff;
	font-size: 20px;
	text-align: center;
	vertical-align: top;
	color:#22222;

}
.topNotice {
	display: inline-block;
	width: 500px;
	font-size: 15px;
}

.blank2 {
	display: inline-block;
	width: 198px;
	height: 48px;
	background-color: #ffffff;
}
/* 메뉴 바 */
.menubar{ 
border:none;
border:0px;
margin:0px;
padding:0px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
text-align: center;
}
.menuRange{
display: inline-block;
width: 1152px;
border:none;
border:0px;
margin:0px;
padding:0px;
text-align: center;
}
.menubar ul{
background: rgb(109,109,109);
height:50px;
list-style:none;
margin:0;
padding:0;
}

.menubar li{
float:left;
padding:0px;
}

.menubar li a{
background: rgb(109,109,109);
color:#cccccc;
display:block;
font-weight:normal;
width: 180px;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
background: rgb(71,71,71);
color:#FFFFFF;
text-decoration:none;
}

.menubar li ul{
background: rgb(109,109,109);
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:245px;
z-index:200;
/*top:1em;
/*left:0;*/
}

.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}
/* 서브 몸체 */
.menubar li li { 
background: rgb(109,109,109);
display:block;
float:none;
margin:0px;
padding:0px;
width:245px;
}

.menubar li:hover li a{
background:none;
}

.menubar li ul a{
display:block;
height:50px;
width:220px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background: rgb(71,71,71);
border:0px;
color:#ffffff;
text-decoration:none;
}

.menubar p{
clear:left;
}
/* 로그인 정보 추가 */
.img1{
   margin-bottom:-7px;
   width: 25px;
   height: 25px;
   margin-right:10px;
}

.img2{
   margin-bottom:-7px;
   margin-right: 7px;
   width: 25px;
   height: 25px;
   
}
.userName{
   width: 45px;
   height: 24px;	
   margin-right:10px;
   font-size: 11pt;
   color: #ffffff;
}
/* 메인 contents 내용 */
/* 사원정보 */
.memInfo {
	display: inline-block;
	width: 1280px;
	height: 470px;
	background: #ffffff;
	font-size: 0pt;
}

.pictureBody {
	display: inline-block;
	width: 450px;
	height: 470px;
	background: #ffffff;
	vertical-align: top;
}
.infoBody {
	display: inline-block;
	width: 830px;
	height: 470px;

}
.memInfo_range {
	display: inline-block;
	text-align: left;
}
.memPicture {
	display: inline-block;
	width: 274px;
	height: 354px;
	background: #ffffff;
}
.memNo, .memNameNRank, .memDept, .memCell, .memEmail {
	display: inline-block;
	width: 500px;
	line-height:50px;
	padding: 0px 15px;
	margin:0px;
	text-align: left;
	font-size: 15pt;
	border-bottom: 2px solid;
	border-bottom-color: #ededed;
}

/* 게시판 부분 */
.boards {
	display: inline-block;
	width: 1280px;
	height: 350px;
	background: #ffffff;
	font-size: 0pt;
}

.noticeBody, .deptBbsBody {
	display: inline-block;
	width: 640px;
	height: 350px;
}
.boardName {
	display: inline-block;
	width: 640px;
	height: 50px;
	font-size: 18pt;
	font-weight: 10pt;
	text-align: left;
	background-color: 	
}
.bbsNotice, .bbsDept {
	display: inline-block;
	width: 638px;
	height: 298px;
	background: #ffffff;
	border-bottom: 3px solid;
	border-top: 3px solid;
	border-color: #A7C942;
	font-size: 11pt;
	text-align: left;
}
.mainTb {
	border-collapse: collapse;
}
.mainTd {
	border-bottom: 1px solid #98bf21;
	padding-top: 10px;
	height: 44px;
}