@CHARSET "UTF-8";
span {
	padding: 2px;
}
/* 정렬 부분 */
.bbsInfo_d {
	display: table-row;
	height: 150px;
}
.bbsSearch_d {
	display: table-row;
	height: 60px;
}
.bbs_d {
	display: table-row;
	height: 600px;
}
.bbsControll_d {
	display: table-row;
	height: 50px;
}
/* contents 게시판 전체 부분 */
.con_bbs {
	display: inline-block;
	width: 1024px;
	height: 820px;
	font-size: 0pt;
}
/* 게시판 이름 (부서) */
.bbsInfo {
	display: inline-block;
	width: 1017px;
	height: 100px;
	background-color: #ffffff;
	font-size: 20pt;
	font-weight: bolder;
	padding-left: 7px;
	text-align: left;
	vertical-align: top;
	border-bottom: 2px solid rgb(71,71,71);
}
/* 검색창 부분 */
.bbsSearch {
	display: inline-block;
	width: 1024px;
	height: 60px;
	text-align: center;
	vertical-align: top;
}
.bbsSearch_Body {
	display: inline-block;
	width: 500px;
	height: 30px;
	text-align: left;
	font-size: 0pt;
}
.SearchText {
	display: inline-block;
	width: 450px;
	height: 30px;
	vertical-align: top;
}
.SearchBtn {
	display: inline-block;
	width: 50px;
	height: 30px;

}
/* 게시글 목록(테이블) */
.bbs {
	display: inline-block;
	width: 1024px;
	background-color: #ffffff;
	font-size: 11pt;
	vertical-align: top;
}
.bbsTb {
	border-collapse: collapse;
}
.bbsTb td {
	text-align: left;
	height: 50px;
	border-bottom: 1px solid #d8d8d8;
	white-space: nowrap; /* pre, pre-wrap 자동 줄 바꿈 */
 	text-overflow: ellipsis; /* 넘어가는 글 ... 처리 */
  	overflow: hidden;/*여기까지 */
}
.bbsTb img {
	width: 25px;
	height: 25px;
}
.title {
	width: 400px;
}
/* 하단에 페이징, 글쓰기 버튼 */
.bbsControll {
	display: inline-block;
	width: 1024px;
	height: 50px;
	text-align: left;
	font-size: 0pt;
}
.controll_blank {
	display: inline-block;
	width: 250px;
	height: 50px;
}
.paging {
	display: inline-block;
	width: 524px;
	height: 50px;
	vertical-align: top;
	text-align: center;
}
.pagingArea {
	display: inline-block;
	width: 300px;
	height: 30px;
	font-size: 11pt;
	color: #000000;
}
.writeBtn {
	display: inline-block;
	width: 250px;
	height: 50px;
	vertical-align: top;
	text-align: center;
}


