@CHARSET "UTF-8";
/* 정렬 부분 */
.file_d, .btns_d, .writer_d, .date_d, .hits_d{
	display: table-row;
	height: 40px;
}
.title_d {
	display: table-row;
	height: 60px;
} 
.showContents_d {
	display: table-row;
	height: 500px;
}
/* 글 상세보기 몸체 */
.showBody {
	display: inline-block;
	width: 1024px;
	height: 603px;
}
/* 게시글 이름 */
.showTitle {
	display: inline-block;
	width: 1019px;
	height: 60px;
	background: #fbfbfb;
	text-align: left;
	font-size: 20pt;
	font-weight: bolder;
	border-bottom: 1px solid #959595;
	padding-left: 5px;
}
/*  게시글 이름 글씨부분 */
.titleText {
	width: 700px;
	height: 40px;
	border: 0px;
	background: #fbfbfb;
	font-size: 14pt;
	font-weight: bold;
}
/* 글 정보 (작성자, 등록일 등..) */
.showInfo {
	display: inline-block;
	width: 1024px;
	height: 40px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #959595;
}
.writer {
	display: inline-block;
	width: 650px;
	height: 40px;
}
.date {
	display: inline-block;
	width: 200px;
	height: 40px;
}
.hits {
	display: inline-block;
	width: 100px;
	height: 40px;
	background: #ffffff;
}
.writerText {
	display: inline-block;
	width: 400px;
	height: 30px;
	font-size: 11pt;
}
.dateText {
	display: inline-block;
	width: 200px;
	height: 30px;
	font-size: 11pt;
}
.hitsText {
	display: inline-block;
	width: 100px;
	height: 30px;
	font-size: 11pt;
}
/* 내용 부분 */
.showContents {
	display: inline-block;
	width: 1024px;
	height: 500px;
	border-bottom: 1px solid #959595;
}
.contentsText {
	display: inline-block;
	width: 997px;
	height: 430px;
	background-color: #ffffff;
	font-size: 11pt;
	color: #000000;
	text-align: left;
	padding: 3px;
}
/* 업로드 된 파일 */
.showFile {
	display: inline-block;
	width: 1024px;
	height: 40px;
	text-align: left;
	font-size: 11pt;
	background: #fbfbfb; 
	border-bottom: 1px solid #959595;
}
/* 수정, 목록, 삭제등 버튼 부분 */
.showBtns {
	display: inline-block;
	width: 1024px;
	height: 41px;
}
.btnsBody {
	display: inline-block;
	width: 1024px;
	height: 41px;
}
.btnPart1 {
	display: inline-block;
	width: 72px;
	height: 41px;
}
.btnPart2 {
	display: inline-block;
	width: 72px;
	height: 41px;
	text-align: left;
}
.btnPart3 {
	display: inline-block;
	width: 880px;
	height: 41px;
	text-align: right;
}
#updateBtn, #listBtn, #deleteBtn{
   border: 1px solid #ffffff;
   background: #474747;
   background: -webkit-gradient(linear, left top, left bottom, from(#6d6d6d), to(#474747));
   background: -webkit-linear-gradient(top, #6d6d6d, #474747);
   background: -moz-linear-gradient(top, #6d6d6d, #474747);
   background: -ms-linear-gradient(top, #6d6d6d, #474747);
   background: -o-linear-gradient(top, #6d6d6d, #474747);
   background-image: -ms-linear-gradient(top, #6d6d6d 0%, #474747 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   /* -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0; */
  /*  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #ffffff 0 1px 0; */
   color: #ffffff;
   font-size: 14px;
   font-family: '맑은고딕';
   text-decoration: none;
   vertical-align: middle;
   }
#updateBtn:hover, #deleteBtn:hover, #listBtn:hover{
   border: 1px solid #ffffff;
   background: #222222;
   background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#222222));
   background: -webkit-linear-gradient(top, #474747, #222222);
   background: -moz-linear-gradient(top, #474747, #222222);
   background: -ms-linear-gradient(top, #474747, #222222);
   background: -o-linear-gradient(top, #474747, #222222);
   background-image: -ms-linear-gradient(top, #474747 0%, #222222 100%);
   color: #ffffff;
   }