@CHARSET "UTF-8";
.title_d, .file_d, .btns_d {
	display: table-row;
	height: 40px;
}
.writeContents_d {
	display: table-row;
	height: 500px;
}

.writeBody {
	display: inline-block;
	width: 750px;
	height: 580px;
	background: #ffccdd;
}
.writeTitle {
	display: inline-block;
	width: 750px;
	height: 40px;
	background: #998899;
}
.titleText {
	width: 700px;
	height: 20px;
}
.fileUplode {
	display: inline-block;
	width: 750px;
	height: 40px;
	background: #ff8899;
	text-align: right;
}
.writeContents {
	display: inline-block;
	width: 750px;
	height: 500px;
	background: #777777;
}
.writeBtns {
	display: inline-block;
	width: 750px;
	height: 40px;
	background: #cccccc;
	text-align: right;
}
.btnsBody {
	display: inline-block;
	width: 100px;
	height: 25px;
	background: #cbcb00;
	text-align: center;
}
.btnPart1 {
	display: inline-block;
	width: 50px;
	height: 25px;
	background: #cbcb00;
}
.btnPart2 {
	display: inline-block;
	width: 50px;
	height: 25px;
	background: #eeeeff;
}
