@CHARSET "UTF-8";
#detail input[type=text]{
	text-align: right;
	width: 80px;
}
#detail tr{
	height: 30px;
	
	
}
#detail{
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	height: 372px;
  	display: none;
}
.detailBody {
	display: inline-block;
	border: 1px;
	background-color: white;
}